<h1>Coin Calculator</h1>
<form action="/change">
  <div class="form-group">
    <label for="change">Enter your change your change amount
    </label>
    <input type="text" name="change" id="change" class="form-control">
  </div>
  <button type="submit" class="btn-red">Calculate</button>
</form>
